{% extends 'base.html' %}
{% block title %}Create Tag{% endblock %}
{% block content %}

<h1>Create a Tag</h1>
<form method="POST">
    <div class="mb-3">
      <label for="tagName" class="form-label">Title</label>
      <input type="text" class="form-control w-50" name="tagName" placeholder="Enter a name for the tag">
    </div>
    <div class="d-md-flex justify-content-md-center">
      <a href="/tags" class="btn btn-outline-info">Cancel</a>
      <button type="submit" class="btn btn-success">Add</button>
    </div>  
  </form>
{% endblock %}