{% extends 'base.html' %}
{% block title %}List{% endblock %}
{% block content %}

<h1>Add a post for {{user.full_name}}</h1>
<form method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control w-50" name="title" placeholder="Enter a Title">
    </div>
    <div class="mb-3">
      <label for="postContent" class="form-label">Post Content</label>
      <input type="text" class="form-control w-50" name="postContent" placeholder="Enter post content">
    </div>
    <div class="d-md-flex justify-content-md-center">
      <a href="/users/{{user.id}}" class="btn btn-outline-info">Cancel</a>
      <button type="submit" class="btn btn-success">Add</button>
    </div>  
  </form>
{% endblock %}