{% extends 'base.html' %}
{% block title %}List{% endblock %}
{% block content %}

<h1>User Profile</h1>
<br>
<div class="clearfix">
    <img src="{{user.image_url}}" class="fluid rounded col-md-6 float-md-start mb-3 ms-md-3">
    <p class="fs-1 mb-4">{{user.full_name}}</p>
        <form action="/users/{{user.id}}/delete" method="POST">
            <div class="clearfix">
                <a href="/users/{{user.id}}/edit" class="btn btn-primary link-light link-underline-opacity-0">Edit</a>
                <button type="submit" class="btn btn-danger"><a href="" class="link-light link-underline-opacity-0">Delete</a></button>
            </div>
        </form>
    <p class="fs-2 mb-2">Posts</p>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <button class="btn btn-primary"><a href="/users/{{user.id}}/posts/new" class="link-light link-underline-opacity-0">Add Post</a></button>
</div>
{% endblock %}